@import './mixin.scss';


.ui.grid.register_header{
	width: 1024px;
	margin: 0 auto;
	margin-top: 50px;
	border-bottom: 1px solid #ccc;
}
.reg_title{
	width: 100%;
}
.ui.header.registed{
	font-size: 16px;
	font-weight: normal;

	a{
		color: #f60;
	}
}

.login_wrap{
	width: 300px;
	min-height: 500px;
	overflow: hidden;
	margin: 0 auto;
	// border: 1px solid #ccc;
	margin-top: 100px;

	
	.ui.form{
		.fields{
			label{
				width: 100px;
			}
			input{
				width: 300px;
			}

		}
		.verification{
			input{
				width: 40%;
			}
		}
		.checkbox{
			width: 100%;
		}
		.ui.submit.button{
			width: 100%;
		}
		.forgot{
			float: right;
		}
		
	}

	.regiter{
		text-align: center;
		margin-top: 10px;
	}

	.terms{
		color: #f60;
	}
	
}


