.project_info{
    margin-top: 40px;

    .row{
      border-bottom: 1px solid #ccc;
    }
    
    .project_des{
    	.item{
    		h3{
    			margin-top: 20px;
    			padding-bottom: 15px;
    		}
    	}
    }

    .self_sidebar{
	.similar{
		// overflow: hidden;
		// text-overflow:ellipsis;
		// white-space: nowrap;
	}
    	.items{
    		.item{
    			border-top: 1px solid #ccc;
    			padding-top: 20px;
    		}
    		h4{
    			margin-bottom: 0;
    		}
    	}
    }










}















