@import '../mixin.scss';
// bower:scss
// endbower
// 顶部黑色区域
.header{
	width: 100%;
	height: 30px;
	background-color: #323332;
}

.header_bar{
	width: $maxWidth;
	height: 100%;
	margin: 0 auto;
	background-color: #323332;
}
.header_logo{
	display: inline-block;
	float: left;
	img{
		margin: 5px 0 0 10px;
	}
}
.header_index{
	display: inline-block;
	width: 80px;
	height: 100%;
	text-align: center;
	line-height: 30px;
	font-size: $basicFz;
	color: #fff;
	margin-left: 10px;
	float: left;

	a{
		color: #fff;
	}
}

.right_wrap{
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: $basicFz;
	color: #fff;
	float: right;
	margin-right: 10px;
	span{
		cursor: pointer;
	}
}


// 导航栏区域
#nav{
	width: 100%;
	height: 85px;
	background-color: #fafafa;
	border-bottom: 1px solid #ddd;
}
.nav_wrap{
	width: $maxWidth;
	height: 85px;
	margin: 0 auto;
	
	.logo{
		float: left;
		margin: 25px 0 0 25px;
	}

	ul{
		display: inline-block;
		height: 25px;
		float: right;
		margin: 30px 10px 0 0;
		li{
			float: left;
			font-size: 14px;
			padding: 0 10px;
			line-height: 25px;

			a{
				color: #000;
			}
			a:hover{
				text-decoration: none;
			}
		}
	}
}

#footer{
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #eb5d0a;
	border-top: 1px solid #eb5d0a;
	margin-top: 70px;
	padding: 0;
	display: flex;
	.foot{
		text-align: center;
		ul{
			width: 100%;
			height: 45px;
			li{
				display:inline;
				height: 100%;
				line-height: 45px;
				padding: 0 20px;
				font-size: 16px;
				a{
					color: #000;
				}
				a:hover{
					text-decoration: none;
				}
			
			}
		}
	}
}








